<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace = 所需实现的接口全限定名-->
<mapper namespace="com.qfedu.mtl.dao.BrandDAO">

    <resultMap id="brandMap" type="Brand">
        <id column="brand_id" property="brandId"/>
        <result column="brand_name" property="brandName"/>
        <result column="brand_logo" property="brandLogo"/>
        <result column="brand_desc" property="brandDesc"/>
        <result column="create_time" property="brandCreateTime"/>
        <result column="brand_status" property="brandStatus"/>
    </resultMap>

    <select id="selectBrandsByCategoryId" resultMap="brandMap">
        select brand_id,brand_name,brand_logo,brand_desc,create_time,brand_status
        from tb_brand b inner join tb_category_brand cb
        on b.brand_id = cb.fk_brand_id
        where cb.fk_category_id=#{categoryId} and b.brand_status=1
    </select>

</mapper>