<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace = 所需实现的接口全限定名-->
<mapper namespace="com.qfedu.mtl.dao.CategoryDAO">

    <resultMap id="categoryMap" type="Category">
        <id column="category_id" property="categoryId"/>
        <result column="category_name" property="categoryName"/>
        <result column="category_icon" property="categoryIcon"/>
        <result column="category_status" property="categoryStatus"/>
    </resultMap>

    <select id="selectCategories" resultMap="categoryMap">
        select category_id,category_name,category_icon,category_status
        from tb_category
        where category_status=1
    </select>

</mapper>