<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath()}+'/'">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>iphone 7的30天内回收平均价格3360元-回购网 - 二手数码回收平台</title>
    <meta name="keywords" content="iphone 7 iphone7 7 苹果7 苹果 7"/>
    <meta name="description" content="iphone 7 iphone7 7 苹果7 苹果 7"/>
    <meta name="baidu-site-verification" content="IpuQLFxZiC"/>
    <meta name="chinaz-site-verification" content="081e7651-48c6-4c2f-a569-99321685eab1"/>
    <meta name="mobile-agent" content="format=html5;url=http://m.ihuigo.com/goods/info/21025.html">
    <meta name="applicable-device" content="pc">
    <link rel="alternate" media="only screen and(max-width: 640px)" href="http://m.ihuigo.com/goods/info/21025.html">
    <link href="favicon.ico" type=image/x-icon rel="Icon">
    <link href="css/new_css/global.css" rel="stylesheet" type="text/css">
    <script src="js/new_js/jquery-1.4.2.js" type="text/javascript"></script>
    <script src="js/new_js/new_public.js" type="text/javascript"></script>
    <script type="text/javascript">
    </script>
    <link href="css/new_css/sub.css" rel="stylesheet" type="text/css">
    <script src="js/public.js" type="text/javascript"></script>
    <script src="js/new_js/menu.js" type="text/javascript"></script>
    <script src="js/new_js/new_goods.js" type="text/javascript"></script>
</head>
<body>
<link rel="stylesheet" type="text/css" href="css/alert_zhe.css"/>
<script type="text/javascript" src="js/alert_zhe.js"></script>
<div id="Loading_child" class="Loading" style="display:none; height:480px;" onDblClick="ttt('Loading_child');">
    <div class="tyd_box">
        <div class="tyd_box_c">
            <div class="tyd_box_title">
                <span id="Loading_child_title"></span><a href="javascript:ttt('Loading_child')"><img
                    src="images/close1.gif" border="0"/></a>
            </div>
            <div class="tyd_box_content" style="width:612px;overflow:auto; height:450px;">
                <iframe id="Loading_child_iframe_id" name="iframe_id" width="612" height="450" border="0"
                        frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>
<div id="mbDIV" style="display:none;"></div><!--头部-->
<div class="shortcut">
    <div class="page">
        <div class="shortcut-left">
            <ul>
                <li class="item-more"><a rel="nofollow" href="javascript:void(0)"><span>&nbsp;</span><em>手机逛回购</em></a>
                    <div class="sub-nav">
                        <div><a href="http://m.ihuigo.com" rel="nofollow" target="_blank"><img
                                src="images/new_images/shortcut_wx.gif" width="145" height="145"/></a></div>
                        <div>扫描进入手机站</div>
                    </div>
                </li>
                <li class="city"><span>当前：
        <span id="selectcity_new">
        </span>
        <a rel="nofollow" href="javascript:void(0);">[切换城市]</a></span></li>
            </ul>
        </div>
        <div class="shortcut-right">
            <ul id='login_show' th:if="${#request.getSession().getAttribute('user') == null}">
                <li><a href="login.html" rel="nofollow">登录</a></li>
                <li><a href="members/register.html" rel="nofollow">注册</a></li>
            </ul>
            <span th:if="${#request.getSession().getAttribute('user') != null}">
                <label style="color:orange"
                       th:text="${#request.getSession().getAttribute('user').getUserName()}"></label>
                <label>,欢迎您！</label>
            </span>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="header">
    <div class="page">
        <h1 class="logo"><a href=""><img src="images/new_images/logo.png" width="171" height="43"
                                         title="二手手机回收交易网"/></a></h1>
        <div class="nav">
            <a title="闲置二手手机回收估价" href="goods.html" class="on">闲置回收</a>
            <a title="二手手机以旧换新活动" href="huanxin.html"><img src="images/new_images/new.png"/></a>
            <a title="二手优品手机抢购" href="youpin.html">二手优品</a><a target="_blank" href="kucun.html" rel="nofollow"
                                                              style="margin-right:0;"><img
                src="images/new_images/kc.gif" style="vertical-align:middle"></a>
        </div>
    </div>
</div>
<!--头部-->
<script type="text/javascript" src="js/goods.js"></script>
<div class="new_search" style="padding-bottom:20px">
    <div class="search-box">
        <div class="search-title">搜一下，看看你的二手闲置还值多少钱</div>
        <div class="search">
            <div class="search-fenlei" id="search-fenlei">
                <div class="set" id="all_type">手机</div>
                <div class="search-list">
                    <ul>
                        <li class="search-list-iconall"><a href="javascript:void(0)" rel="nofollow"><span
                                onClick="t_click(this,'goods.html')">全部分类</span></a></li>
                        <li class="search-list-icon1"><a href="javascript:void(0)" rel="nofollow"><span
                                onClick="t_click(this,'ershoushouji.html')">手机</span></a></li>
                    </ul>
                </div>
            </div>
            <form name="top_goods_search" id="top_goods_search" action="ershoushouji.html" method="get">
                <input type="text" name="gname" id="top_name" value="请输入品牌型号搜索" class="input-txt"
                       onkeydown="if(event.keyCode==13) return top_search_goods();"
                       onFocus="if(this.value=='请输入品牌型号搜索'){this.value='';}"
                       onblur="if(this.value==''){this.value='请输入品牌型号搜索';}"/>
                <input type="button" value="" class="input-btn" onclick="top_search_goods()"/>
            </form>
        </div>
    </div>
</div>

<!--头部--><!--手机回收-->
<div class="recovery">
    <script type="text/javascript">
        $(document).ready(function () {
            $(".new_search_btn").click(function () {
                $(".new_search").slideToggle();
            });
        });
    </script>
    <div class="page2" style="position:relative">
        <div class="new_search_btn" style="position:absolute; left:-40px; top:-11px; cursor:pointer;"><img
                src="images/new_images/search_btn.png" alt="搜索您要评估价格的机型"/></div>

        <div style="height:30px; line-height:30px; font-size:14px;">
            <a href="">首页</a> &gt;
            <a href="ershoushouji.html">手机</a> &gt;
            <a href="ershouiphone.html">品牌</a> &gt;
            <label th:text="${goods.goodsName}"></label>
        </div>
        <div class="heat_l">
            <div class="heat_img">
                <img th:src="${goods.goodsImg}" th:alt="${goods.goodsName}+'回收价格评估'"
                     width="264" height="197"/>
            </div>
            <div class="heat_txt">
                <div class="heat_name"><span th:text="${goods.goodsName}"></span></div>
                <dl class="heat_ts">
                    <dd><em th:text="${goods.goodsCost}"></em>元<br/>
                        30天内回收最高价
                    </dd>
                    <dt class="clear"></dt>
                </dl>
                <div class="heat_bao">
                    <img src="images/new_images/icon10.gif" alt=""/>可免费享受第三方理赔服务
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <script src="js/new_js/morris/raphael-2.1.0.min.js"></script>
        <script src="js/new_js/morris/morris.js"></script>
        <link rel="stylesheet" href="js/new_js/morris/morris.css">
        <div class="heat_r">
            <div class="heat_title"><span>回购价格趋势</span><samp>单位：元</samp></div>
            <div class="heat_pic">
                <div id="graph" style="width:360px; height:210px; margin-top:0px;"></div>
            </div>
            <script>
                var day_data = [
                    {"elapsed": "7", "价格": "2614"}
                    , {"elapsed": "8", "价格": "2607"}
                    , {"elapsed": "9", "价格": "2660"}
                    , {"elapsed": "10", "价格": "2822"}
                    , {"elapsed": "11", "价格": "2929"}
                ];
                Morris.Line({
                    element: 'graph',
                    data: day_data,
                    xkey: 'elapsed',
                    ykeys: ['价格'],
                    labels: ['价格'],
                    parseTime: false
                });
            </script>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!--手机回收-->
<!--评估流程-->
<div id="ahs_trade_body">
    <input type="hidden" id="view" value="goods_info"/>
    <input type="hidden" id="if_show_price" value="1"/>
    <input type="hidden" id="gid" name="gid" value="21025"/>
    <input type="hidden" id="package_id" name="package_id" value="571"/>
    <div id="ahs_property_head">
        <p>开始评估你的手机，只需3步，获得产品精准评估报价</p>
        <!--步骤一-->
        <div class="speed" id="speed1"><img src="images/new_images/step1.gif" alt="第1步评估手机的基本情况"/></div>
        <!--步骤一-->
        <!--步骤二-->
        <div class="speed" id="speed2"><img src="images/new_images/step2.gif" alt="第2步评估手机的功能使用情况"/></div>
        <!--步骤二-->
        <!--步骤三-->
        <div class="speed" id="speed3"><img src="images/new_images/step3.gif" alt="第一步评估手机的外观成色"/></div>
        <!--步骤三-->
    </div>
    <form action="price/count" method="post" name="infoDetailForm">
        <input type="hidden" name="goodsId" th:value="${goods.goodsId}"/>
        <div id="ahs_property_body">
            <!--第一步：基本情况  step1List-->
            <div id="property_step1">
                <dl>
                    <dd th:each="basicInfo:${step1List}">
                        <input type="hidden" name="property" th:id="'property_'+${basicInfo.basicInfoId}" value="0"/>
                        <div class="property_title"><h3 th:text="${basicInfo.basicInfoName}"></h3></div>
                        <ul>
                            <li th:each="infoDetail:${basicInfo.infoDetailList}" class=""
                                th:onClick="'property_click(this,'+${basicInfo.basicInfoId}+','+${infoDetail.infoDetailId}+')'"
                                th:name="${basicInfo.basicInfoId}">
                                <div class="pro_div">
                                    <span class="property_value">
                                        <i th:text="${infoDetail.infoDetailName}">大陆行货</i>
                                        <ins th:text="${infoDetail.infoDetailDesc}">内地购买，有“进网许可证”标签。</ins>
                                    </span>
                                    <span class="gou"></span>
                                </div>
                            </li>
                            <div class="clear"></div>
                        </ul>
                    </dd>
                    <div id="step1_nav" class="property_nav">
                        <div id="btn_step1_next" class="btn_next">下一步</div>
                    </div>
                </dl>
            </div>
            <!--第一步-->
            <!--第二步-->
            <div id="property_step2" class="hide">
                <dl>
                    <dd th:each="basicInfo:${step2List}">
                        <div class="property_title">
                            <h3 th:text="${basicInfo.basicInfoName}">功能情况（可多选或不选）</h3>
                        </div>
                        <ul>
                            <li th:each="infoDetail:${basicInfo.infoDetailList}"
                                th:onClick="'item_click(this,'+${infoDetail.infoDetailId}+')'"
                                th:name="${basicInfo.basicInfoId}">
                                <input type="hidden" name="descId" th:id="'desc_id_'+${infoDetail.infoDetailId}"
                                       value="0"/>
                                <div class="pro_div">
                                    <span class="property_value">
                                        <i th:text="${infoDetail.infoDetailName}">有换机</i>
                                        <ins th:text="${infoDetail.infoDetailDesc}">系统型号N开头</ins>
                                    </span>
                                    <span class="gou"></span>
                                </div>
                            </li>
                            <div class="clear"></div>
                        </ul>
                    </dd>
                </dl>
                <div id="step2_nav" class="property_nav">
                    <div id="btn_step2_back" class="btn_back">< 返回上一步</div>
                    <div id="btn_step2_next" class="btn_next">都没问题，跳过 ></div>
                </div>
            </div>
            <!--第二步-->
            <!--第三步-->
            <div id="property_step3" class="hide">
                <dl>
                    <dd th:each="basicInfo:${step3List}">
                        <span th:if="${basicInfo.basicInfoName != '配件'}">
                            <input type="hidden" name="property" th:id="'property_'+${basicInfo.basicInfoId}"
                                   value="0"/>
                            <div class="property_title"><h3 th:text="${basicInfo.basicInfoName}"></h3></div>
                            <ul>
                                <li th:each="infoDetail:${basicInfo.infoDetailList}" class=""
                                    th:onClick="'property_click(this,'+${basicInfo.basicInfoId}+','+${infoDetail.infoDetailId}+')'"
                                    th:name="${basicInfo.basicInfoId}">
                                    <div class="pro_div">
                                        <span class="property_value">
                                            <i th:text="${infoDetail.infoDetailName}">大陆行货</i>
                                            <ins th:text="${infoDetail.infoDetailDesc}">内地购买，有“进网许可证”标签。</ins>
                                        </span>
                                        <span class="gou"></span>
                                    </div>
                                </li>
                                <div class="clear"></div>
                            </ul>
                        </span>
                        <span th:if="${basicInfo.basicInfoName == '配件'}">
                            <div class="property_title">
                                <h3 th:text="${basicInfo.basicInfoName}">功能情况（可多选或不选）</h3>
                            </div>
                            <ul>
                                <!--<input type="text" name="desc_pid[]" value="944"/>-->
                                <li th:each="infoDetail:${basicInfo.infoDetailList}"
                                    th:onClick="'item_click(this,'+${infoDetail.infoDetailId}+')'"
                                    th:name="${basicInfo.basicInfoId}">
                                    <input type="hidden" name="descId" th:id="'desc_id_'+${infoDetail.infoDetailId}"
                                           value="0"/>
                                    <div class="pro_div">
                                        <span class="property_value">
                                            <i th:text="${infoDetail.infoDetailName}">有换机</i>
                                            <ins th:text="${infoDetail.infoDetailDesc}">系统型号N开头</ins>
                                        </span>
                                        <span class="gou"></span>
                                    </div>
                                </li>
                                <div class="clear"></div>
                            </ul>
                        </span>
                    </dd>
                </dl>
                <div id="step3_nav" class="property_nav">
                    <div id="btn_step3_back" class="btn_back">< 返回上一步</div>
                    <div id="btn_step3_next" class="btn_next" onclick="submitForm()">查看价格
                        <!-- onclick="new_show_price('ajax/new_get_pg_price.html','show_price')"-->
                    </div>
                </div>
            </div>
            <!--第三步-->
        </div>
    </form>
    <script type="text/javascript">
        function submitForm() {
            document.infoDetailForm.submit();
        }
    </script>
</div>
<!--评估流程-->
<!--隐藏的评估描叙选项start-->
<div style="display:none; background-color:#CCCCCC;">
</div>
<!--隐藏的评估描叙选项end-->
<script>
    $(document).ready(function () {
        $("#step1_nav .btn_next").bind('click', step1_next);
        $("#step2_nav .btn_next").bind('click', step2_next);
        $("#step2_nav .btn_back").bind('click', step2_back);
        $("#step3_nav .btn_back").bind('click', step3_back);

        $("input[name='property[]']").each(function () {
            $(this).val(0);
        })
        $("#property_step1 input[name='desc_id[]']").each(function () {
            $(this).val(0);
        })
        $("#property_step3 input[name='desc_id[]']").each(function () {
            $(this).val(0);
        })
        $("#pj_ids").val(0);
    })
</script>
<!--[if lte IE 6]>
<script src="js/new_js/png.js" type="text/javascript"></script>
<script type="text/javascript">
    DD_belatedPNG.fix('img,.banner ul, li, dl, dt, dd, span, em, div, i, samp, a, b, .kuang');
</script>
<![endif]-->
</body>
</html>
