<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath()}+'/'">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>订单提交-回购网 - 手机回收网 | 二手手机交易 | 笔记本回收 | 平板回收</title>
    <meta name="keywords" content="手机回收,二手手机回收,手机回收网,二手手机回收网,二手手机,笔记本回收,平板电脑回收,数码相机回收,旧手机回收,苹果手机回收"/>
    <meta name="description"
          content="回购网是一家专业安全的二手手机回收网，为您提供在线手机回收、平板电脑回收、笔记本回收、数码相机回收、相机镜头回收、无人机回收，专业手机回收价格评估，让你轻松买卖二手手机等闲置数码产品。"/>
    <meta name="baidu-site-verification" content="IpuQLFxZiC"/>
    <meta name="chinaz-site-verification" content="081e7651-48c6-4c2f-a569-99321685eab1"/>
    <meta name="mobile-agent" content="format=html5;url=http://m.ihuigo.com/order/cart.html">
    <meta name="applicable-device" content="pc">
    <link rel="alternate" media="only screen and(max-width: 640px)" href="http://m.ihuigo.com/order/cart.html">
    <link href="favicon.ico" type=image/x-icon rel="Icon"/>
    <link href="css/new_css/global.css" rel="stylesheet" type="text/css"/>
    <script src="js/new_js/jquery-1.4.2.js" type="text/javascript"></script>
    <script src="js/new_js/new_public.js" type="text/javascript"></script>
    <script type="text/javascript">
        function selectcity(url) {
            open_div_extends('切换地区', url, 'Loading_child');
        }
    </script>
    <link href="css/new_global.css" rel="stylesheet" type="text/css">
    <script src="js/new_js/jquery.kinMaxShow-1.1.min.js" type="text/javascript"></script>
    <script src="js/new_js/lrtk.js" type="text/javascript"></script>
    <script src="js/new_js/menu.js" type="text/javascript"></script>
    <script src="js/new_js/index.js" type="text/javascript"></script>
</head>
<body>
<link rel="stylesheet" type="text/css" href="css/alert_zhe.css"/>
<script type="text/javascript" src="js/alert_zhe.js"></script>
<script type="text/javascript" src="js/payway.js"></script>
<script type="text/javascript" src="js/order.js"></script>
<script type="text/javascript" src="js/city.js"></script>
<script type="text/javascript" src="js/city_jilian.js"></script>

<div class="contanier page">
    <div class="current"><a href="/">首页</a><span>></span><em>提交订单</em></div>
    <div class="ihuigo">
        <div class="sub_con_top">
            <div class="contact_ways" th:text="${tips}"></div>
        </div>
    </div>
</div>
</body>
</html>